	<div id="footer">
		<div class="section foot-sec">
			<p class="foot-label">프린팅 플랫폼(주)</p>
			<ul>
				<li>서울특별시 송파구 백제고분로 37길 6, 318호</li>
				<li>대표전화 : 02-422-2596</li>
				<li>© 2020  Printing platform co., ltd.  All rights reserved</li>
			</ul>
		</div>
	</div>
