	<div id="header">
		<div class="section head-sec">
			<button type="button" class="btn-menu">메뉴열기</button>
			<h1 class="logo"><a href="/">스타트업인쇄소</a></h1>
			<div class="gnb">
				<button type="button" class="gnb-close">닫기</button>
				<div class="gnb-top">
					<a href="#">로그인</a>
					<a href="#">회원가입</a>
				</div>
				<ul>
					<li><a href="/intro">스타트업인쇄소란?</a></li>
					<li><a href="/products?product=1">인쇄물 주문하기</a></li>
					<li><a href="/supports">정부지원사업안내</a></li>
					<li><a href="/notices">공지사항</a></li>
				</ul>
			</div>		
			<div class="top-btn-area">
				<button type="button" class="btn-login">로그인</button>
				<!--<button type="button" class="btn-login">로그아웃</button>-->
				<a href="#" class="btn-signup">회원가입</a>
				<a href="/join" class="top-menu">Mypage</a>
				<!--a href="" class="top-menu">장바구니</a-->
				<a href="/commodity" class="top-menu">주문내역</a>				
			</div>

		</div>
	</div>
