<div class="popup-body alert-pop" id="inquiry">
	<div class="popup">
		<div class="pop-wrap">
			<div class="pop-head">
				<p class="pop-tt">문의하기</p>
				<button type="button" class="btn-pop-close">닫기</button>
			</div>
			<div class="pop-cont">
				<div class="pop-inq">
                    <textarea name="msg" id="msg" class="inq-txt" placeholder="문의 내용을 남겨주세요."></textarea>
                    <input type='hidden' name="_product" id="_product" />
				</div>
				<div class="alert-btn-area">
					<button type="button" class="btn-alert">확인</button>
				</div>
			</div>
		</div>
	</div>
</div>