<div class="main-notice">
    <p class="noti-tt">공지사항</p>
    <ul>
        <li>
            <a href="/notices">
                <dl>
                    <dt class="sbj">스타트업 인쇄소가 오픈되었습니다.</dt>
                    <dd class="date">[2021-01-08]</dd>
                </dl>
            </a>
        </li>
        <!--li>
            <a href="#">
                <dl>
                    <dt class="sbj">또 러시아? 보름 앞둔 美 대선 해킹 위협도 고조</dt>
                    <dd class="date">[2020-09-30]</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="#">
                <dl>
                    <dt class="sbj">또 러시아? 보름 앞둔 美 대선 해킹 위협도 고조</dt>
                    <dd class="date">[2020-09-30]</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="#">
                <dl>
                    <dt class="sbj">또 러시아? 보름 앞둔 美 대선 해킹 위협도 고조</dt>
                    <dd class="date">[2020-09-30]</dd>
                </dl>
            </a>
        </li>
        <li>
            <a href="#">
                <dl>
                    <dt class="sbj">또 러시아? 보름 앞둔 美 대선 해킹 위협도 고조</dt>
                    <dd class="date">[2020-09-30]</dd>
                </dl>
            </a>
        </li-->
    </ul>
</div>