<div class="popup-body alert-pop" id='message'>
	<div class="popup">
		<div class="pop-wrap">
			<div class="pop-head">
				<p class="pop-tt">alert</p>
				<button type="button" class="btn-pop-close">닫기</button>
			</div>
			<div class="pop-cont">
				<p class="alert-message">저장하시겠습니까?</p>
				<div class="alert-btn-area">
					<button type="button" class="btn-alert">네</button>
					<!--button type="button" class="btn-alert">아니오</button-->
				</div>
			</div>
		</div>
	</div>
</div>


<div class="popup-body alert-pop" id='confirm'>
	<div class="popup">
		<div class="pop-wrap">
			<div class="pop-head">
				<p class="pop-tt">alert</p>
				<button type="button" class="btn-pop-close">닫기</button>
			</div>
			<div class="pop-cont">
				<p class="alert-message">로그아웃하시겠습니까?</p>
				<div class="alert-btn-area">
					<button type="button" class="btn-alert" onclick="confirm('yes')">네</button>
					<button type="button" class="btn-alert" onclick="confirm('no')">아니오</button>
				</div>
			</div>
		</div>
	</div>
</div>