<div id="signup-pop" class="popup-body">
	<div class="popup">
		<div class="pop-wrap">
			<button type="button" class="btn-pop-close">닫기</button>
			<div class="pop-cont">
				<p class="pop-title">회원가입</p>
				<div class="login-form">
					<ul>
						<li><input type="text" class="login-ip" placeholder="아이디" id='newEmail' name='email' /></li>
						<li><input type="password" class="login-ip" placeholder="비밀번호" id='newPassword' name='password'/></li>
					</ul>
					<div class="chk-login">
						<input type="checkbox" id="chk-save" name="chk-save" class="chk-ip">
						<!--label for="chk-save">로그인 상태유지</label-->
					</div>
					<div class="btn-area">
						<button type="button" id="quickstart-sign-up"  class="btn-signup">회원가입</button>
					</div>
				</div>
				<div class="other-btn-area">
					<a href="#" id="quickstart-sign-up-bak" name="signup-bak">회원가입후 MyPage에서 상세정보를 입력해주세요</a>
					<!--a href="#">비밀번호 찾기</a-->
				</div>
			</div>
		</div>
	</div>
</div>
